body {
  font-family: sans-serif;
  margin: 0;
}

.app {
  display: flex;
  flex-direction: column;
  height: 100vh;
}
.pane {
  flex: 1;
  overflow-y: scroll;
}

.subscription-list {
  padding: 10px;
}
.subscription-list__item {
  display: flex;
  margin-bottom: 10px;
}
.subscription-list__item-title {
  margin: 0;
}
.subscription-list__item-icon {
  width: 3em;
  height: 3em;
  margin-right: 1ex;
}
.subscription-list__item-updated-mark {
  color: blue;
  position: fixed;
  margin-left: calc(3em - 6px);
  margin-top: -5px;
}

.podcast-detail__content {
  padding: 10px;
}
.podcast-detail__title-block {
  display: flex;
}
.podcast-detail__title-and-authors {
  flex: 1;
}
.podcast-detail__title {
  margin: 0;
  margin-bottom: 1ex;
}
.podcast-detail__icon {
  width: 4em;
  height: 4em;
  margin-left: 1ex;
}
.podcast-detail__authors {
  font-size: small;
  color: blue;
}
.podcast-detail__description {
  border-bottom: 1px solid silver;
  padding-top: 5px;
  padding-bottom: 5px;
  font-size: small;
}

.episode-overview {
  border-bottom: 1px solid silver;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-bottom: 10px;
}
.episode-overview__date {
  font-size: x-small;
  color: grey;
  margin-bottom: 5px;
}
.episode-overview__title {
  margin: 0;
  margin-bottom: 10px;
}

.episode-detail__content {
  padding: 10px;
}
.episode-detail__podcast-title-holder {
  display: flex;
}
.episode-detail__podcast-icon {
  width: 2em;
  height: 2em;
  margin-right: 1ex;
}
.episode-detail__podcast-title {
  flex: 1;
  margin: 0;
}
.episode-detail__title {
  margin: 0;
  margin-top: 1em;
  margin-bottom: 1em;
}
.episode-detail__date {
  font-size: x-small;
  color: grey;
}
.episode-detail__progress {
  padding-top: 5px;
  padding-bottom: 5px;
}
.episode-detail__description {
  padding-top: 5px;
  padding-bottom: 5px;
  font-size: small;
}

.subscription-add__content {
  padding: 10px;
}
.subscription-add__label {
  display: flex;
}
.subscription-add__input {
  flex: 1;
}

.player-strip {
  width: 100%;
  background-color: #f5f5f5f5;
  box-shadow: 0 -4px 3px -3px rgba(0, 0, 0, 0.2);
}
.player-strip__info-row {
  display: flex;
  padding: 5px;
  align-items: center;
}
.player-strip__icon {
  height: 2em;
  width: 2em;
  margin-right: 5px;
}
.player-strip__title {
  flex: 1;
  font-size: small;
  white-space: nowrap;
  overflow: hidden;
}
.player-strip__play-pause {
  margin-left: 5px;
  width: calc(1.5ex + 16px);
  height: calc(1.5ex + 16px);
}
.player-strip__progress-bar {
  width: 100%;
  height: 1px;

  padding: 0;
  background-color: lightblue;
}
.player-strip__progress-bar-done {
  width: 0;
  height: 100%;
  background-color: blue;
}

.expanded-player {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
}
.expanded-player__panel {
  position: relative;
  top: 20px;
  width: calc(100% - 40px);
  height: calc(100vh - 20px);
  background: white;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}
.expanded-player__icon {
  width: 10em;
  height: 10em;
}
.expanded-player__travel-buttons {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
}
.expanded-player__progress {
  width: 100%;
  margin: 10px 0;
}
.expanded-player__progress-bar {
  width: 100%;
  height: 5px;
  margin: 5px 0;
  background: lightblue;
}
.expanded-player__progress-bar-done {
  height: 100%;
  background: blue;
}
.expanded-player__progress-times {
  display: flex;
  justify-content: space-between;
  font-size: x-small;
  color: grey;
}

.home-row {
  display: flex;
  height: calc(2em + 10px);
}
.home-row__button {
  flex: 1;

  background: unset;
  border: unset;
  font-size: 3ex;
}

.nav-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav-row__back-button {
  font-size: larger;
  color: grey;
  padding: 5px;
  height: calc(1em + 10px);
  width: calc(1em + 10px);
  border: unset;
  background: unset;
}
.nav-row__title {
  color: grey;
}
.nav-row__spacer {
  font-size: larger;
  color: grey;
  padding: 5px;
  height: calc(1em + 10px);
  width: calc(1em + 10px);
  visibility: hidden;
}
